/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,600,600i,700,700i|Lora:400,400i,700,700i|Playfair+Display:400,700&display=swap');
body {
	font-family: $playfair;
	font-weight: 400;
	color: $gray; 
	font-size: 16px;
	line-height: 26px;
}
.img,img {
	max-width: 100%;
	@include property;
}

a,
.button {
	@include property;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover
{
	color: inherit;
	text-decoration: none;
}
a,
button {
	color: inherit;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $josefin;
	font-weight: 600; 
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 55px;
	color: $white;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 36px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 17px;
}
h6 {
	font-size: 14px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
hr {
	background: #c2cfff;
	width: 85px;
	height: 3px;
	margin: 35px 0;
	padding: 0;
	border: none;
	@media #{$md}{
		margin: {
			top: 25px;
			bottom: 25px;
		}
	}
}
label {
	color: $black;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: $black;
	text-shadow: none;
}
::-moz-selection {
	background: $black;
	text-shadow: none;
}
::selection {
	background: $black;
	text-shadow: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/
.footer-email input::-moz-placeholder {
	color: $black;
}
.footer-email input::placeholder {
	color: $black;
}

/*================================ Pre Loader ====================================*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	z-index: 13000;
	height: 100%;
}

.preloader_image {
	width: 130px;
	height: 130px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.sk-double-bounce {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 40px auto;
}

.sk-double-bounce .sk-child {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #000;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
	animation: sk-doubleBounce 2s infinite ease-in-out;
}

.sk-double-bounce .sk-double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-doubleBounce {

	0%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes sk-doubleBounce {

	0%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}


/*--
    - Common Classes
-----------------------------------------*/
.max-w-xl{
	max-width: 1920px;
}

// Menu Area
.menu-area{
	li{
		display: inline-block;
	}
}
/*--
    - Background color
-----------------------------------------*/

.theme-bg {
	background: $black; 
}


/*--
    - color
-----------------------------------------*/

.theme-color {
	color: $black;
}
.white-color{
	color: $white;
}
// .primary-color {
// 	color: #222;
// }


/*--------------------------------------
	- Button
----------------------------------------*/
.btn{
	@extend %btn;
}
.btn-border{
	@extend %border-btn;
}
.btn-yellow{
	@extend %border-btn;
	background: $yellow;
	color: $white;
}

/* Button 1 */
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1, .btn-1b {
	background: $black;
}
/* Button 1b */
.btn-1b:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	color: #fff;
}

.btn-1b:hover,
.btn-1b:active {
	color: $white;
	background: $yellow;
}

.btn-1b:hover:after,
.btn-1b:active:after {
	height: 100%;
}
.btn-1b:hover, .btn-1b:active {
	color: $black;
}
.btn-1b:hover::after, .btn-1b:active::after {
	height: 100%;
}
/*--------------------------------------
General Class
----------------------------------------*/
.content-outer {
	width: 100%;
	float: left;
	height: 100%;
	position: relative;
}

.content {
	height: 100%;
	position: relative;
	@media #{$xs} {
		margin-left: 0;
	}
	@media #{$md} {
		margin-left: 250px;
	}
	@media #{$lg}{
		margin-left: 336px;
	}
}

.pt-wrapper {
	position: relative;
	width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 0;
	z-index: 1;
	background-color: transparent;
}

.pt-perspective {
	position: relative;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	-webkit-perspective: 1500px;
	-moz-perspective: 1500px;
	perspective: 1500px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.pt-page {
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 2300px;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	overflow: auto;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 90;
	opacity: 1;
	overflow: auto;
}

.mx-container{
	@media #{$desktop}{
		max-width: 1360px;
	}
}
.perspective{
	width: 1780px;
	height: auto;
	margin-left: 336px;
	@media #{$xs}{
		margin-left: 0 !important;
	}
}
.resume2 {
	margin-left: 142px !important;
	@media #{$xs} {
		margin-left: 0 !important; 
	}
}
.section-wrapper {
	padding: 70px 50px;
	height: auto;
	&.resume2{
		padding: 150px 0;
	}
	@media #{$desktop}{
		padding: 150px;
	}
}

.skill-area,
.education-area,
.languages-area,
.experience-area,
.portfolio-area,
.service-area,
.contact-area,
.skill1-area,
.edu1-area,
.lang1-area {
	padding-top: 47px;
	@media #{$desktop} {
		padding-top: 150px;
	}
}
.title{
	text-transform: uppercase;
	color: $yellow;
	margin-bottom: 10px;
}
.section-title{
	@extend %section-title;
}
.section-title-white{
	@extend %section-title;
	h3{
		color: $white;
		margin-bottom: 10px;
	}
	p {
		width: 100%;
	}
}
/*--
    - Margin & Padding
-----------------------------------------*/
.px-10{
	padding-left: 10px;
	padding-right: 10px;
}
.py-10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.mx-10{
	margin-right: 10px;
	margin-left: 10px;
}
.my-10{
	margin-top: 10px;
	margin-bottom: 10px;
}


/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 40 {
	.mt-#{5 * $i}{margin-top: 5px * $i;}
}

/*-- Margin Bottom --*/
@for $i from 1 through 40 {
	.mb-#{5 * $i}{margin-bottom: 5px *$i;}
}
/*-- Margin Left --*/
@for $i from 1 through 40 {
	.ml-#{5 * $i}{margin-left: 5px * $i;}
}

/*-- Margin Right --*/
@for $i from 1 through 40 {
	.mr-#{5 * $i}{margin-right: 5px *$i;}
}

/*-- Padding Top --*/
@for $i from 1 through 40 {
	.pt-#{5 * $i}{padding-top: 5px *$i;}
}

/*-- Padding Bottom --*/
@for $i from 1 through 40 {
	.pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

/*-- Padding Left --*/
@for $i from 1 through 40 {
	.pl-#{5 * $i}{padding-left: 5px *$i;}
}

/*-- Padding Right --*/
@for $i from 1 through 40 {
	.pr-#{5 * $i}{padding-right: 5px *$i;}
}
// others common css here :)


