/*----------------------------------------*/
/*  12. Contact Area
/*----------------------------------------*/
.contact-area{
   padding-top: 25px;
}
.contact-details{
   @media #{$lg} {
      margin-bottom: 0;
   }

   @media #{$md} {
      margin-bottom: 30px;
   }

   @media #{$xs} {
      margin-bottom: 30px;
   }
   h4{
      font-size: 20px;
      font-family: $josefin;
      color: $white;
      margin-bottom: 15px;
   }
   ul{
      li{
         margin-top: 40px;
         font-family: $josefin;
         &:first-child{
            margin-top: 0;
         }
         li{
            margin-top: 0;
         }
         @media #{$lg}{
            margin-top: 40px;
         }
         @media #{$md}{
            margin-top: 30px;
         }
         @media #{$xs}{
            margin-top: 30px;
         }
      }
   }
}
.contact-form{
   input, textarea{
      width: 100%;
      background: $header-color;
      border: 1px solid #3F3F42;
      color: $gray;
      padding: 13px 20px;
      margin-bottom: 30px;
      font-family: $josefin;
      &:focus{
         border-color: $yellow;
      }
   }
   button{
      border-color: $yellow;
      color: $yellow;
   }
}

.contact1{
   color: $white;
   margin-bottom: 43px;
   i{
      color: $yellow;
      margin-bottom: 10px;
      font-size: 22px;
      
   }
}


footer{
   padding: 0 50px;
   padding-bottom: 45px;
   background-color: #141414;
   span{
      font-size: 14px;
      font-family: $josefin;
      font-weight: 400;
      color: $text-color;
   }
}