/* Button Background Style */
%btn{
    display: inline-block;
    padding: 17px 40px 15px;
    background-color: transparent;
    font-family: $josefin;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    outline: none;
    @include property;
}
%border-btn{
    border: 1px solid $black;
}
%section-title{
    margin-bottom: 40px;
    h3{
        text-transform: uppercase;
        color: $yellow;
        margin-bottom: 5px;
    }
    p {
        line-height: 26px;
        margin-bottom: 0;
        @media #{$xs} {
            width: 100%;
        }
        @media #{$md} {
            width: 100%;
        }
        @media #{$lg} {
            width: 80%;
        }
        @media #{$xl} {
            width: 64%;
        }
    }
}
%devider1{
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 3px;
        height: 530px;
        background-color: $yellow;
        top: 50px;
    }
}
%devider2{
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 3px;
        height: 648px;
        background-color: $yellow;
        top: 50px;
    }
}