/*----------------------------------------*/
/*  03. Header Area
/*----------------------------------------*/
header{
   background: $header-color;
   position: fixed;
   width: 336px;
   border-top: 6px solid $yellow;
}
.author-image{
   border: 1px solid $black;
   width: 196px;
   height: 196px;
   text-align: center;
   padding: 16px;
   margin: auto;
   margin-top: 50px;
}
.author-name{
   text-align: center; 
   margin-top: 50px;
   margin-bottom: 40px;
   
   h3{
      padding: 20px;
      color: $white;
      display: inline-block;
      position: relative;
      font-weight: 700;
      font-family: $lora;
      margin: 0;
      span{
         font-size: 26px;
      }
      &::before{
         position: absolute;
         content: '';
         width: 27px;
         height: 27px;
         top: 0;
         left: -25px;
         border-top: 1px solid $yellow;
         border-left: 1px solid $yellow;
      }
      &::after{
         position: absolute;
         content: '';
         width: 27px;
         height: 27px;
         right: -25px;
         bottom: 0;
         border-bottom: 1px solid $yellow;
         border-right: 1px solid $yellow;
      }
   }
}