/*----------------------------------------*/
/*  03. Header Area
/*----------------------------------------*/

.sidebar{
   position: fixed !important;
   width: 336px;
   background-color: $header-color;
   border-top: 6px solid $yellow;
   z-index: 90;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   @media #{$lg}{
      position: static;
      overflow-y: visible;
      height: auto;
      display: block;
   }
}
.author-image{
   border: 1px solid $black;
   width: 196px;
   height: 196px;
   text-align: center;
   padding: 16px;
   margin: auto;
   margin-top: 50px;
}
.author-name{
   text-align: center; 
   margin-top: 50px;
   margin-bottom: 50px;
   
   h3{
      padding: 20px;
      color: $white;
      display: inline-block;
      position: relative;
      font-weight: 700;
      font-family: $lora;
      margin: 0;
      span{
         font-size: 26px;
      }
      &::before{
         position: absolute;
         content: '';
         width: 27px;
         height: 27px;
         top: 0;
         left: -25px;
         border-top: 1px solid $yellow;
         border-left: 1px solid $yellow;
      }
      &::after{
         position: absolute;
         content: '';
         width: 27px;
         height: 27px;
         right: -25px;
         bottom: 0;
         border-bottom: 1px solid $yellow;
         border-right: 1px solid $yellow;
      }
   }
}
// Author Contact
.author-contact{
   margin-bottom: 50px;
   li{
      display: inline-block;
      margin-right: 10px;
      &:last-child{
         margin-right: 0;
      }
      a{
         width: 35px;
         height: 35px;
         line-height: 22px;
         font-size: 16px;
         display: inline-block; 
         border: 1px solid $black;
         text-align: center;
         padding: 5px;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         @include property;
         &:hover{
            i{
               color: $yellow;
            }
         }
      }
   }
}
.tooltip-inner{
   width: 140px;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   background: $bg-600;
   padding: 5px 13px;
   color: #000;
   font-family: $josefin;
}

// Sidebar Menu 
.sidebar-link{
   padding-left: 70px;
   padding-right: 70px;
   nav{
      li{
         position: relative;
         a{
            font-size: 14px;
            color: $text-color;
            text-transform: uppercase;
            font-family: $josefin;
            font-weight: 600;
            padding-top: 15px;
            padding-bottom: 14px;
            display: block;
            @include property;
            &:hover{
               color: $yellow;
            }
            img{
               margin-right: 10px;
            }
         }
         &::before{
            position: absolute;
            content: '';
            width: 195px;
            height: 1px;
            background: $black;
            left: 0;
            right: 0;
            margin: auto;
         }
         &:last-child::after{
            position: absolute;
            content: '';
            width: 195px;
            height: 1px;
            background: $black;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
         }
      }
   }
}

// Sidebar Social Link
.sidebar-s-link{
   margin-bottom: 35px;
   a{
      display: block;
   }
   li{
      display: inline-block;
      a{
         font-size: 16px;
         padding: 15px;
         color: $text-color;
         display: block;
      }
   }
}

/*--------------------------------HomePage 2---------------------------------------*/ 
.sidebar2 {
   width: 142px;

   .sidebar-link {
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
   }
   .author-name{
      h3{
         padding: 15px;
         &::before{
            left: 0;
            top: 10px;
         }
         &::after{
            right: 0;
            bottom: 10px;
         }
      }
   }
   nav{
      padding-top: 40px;
      li{
         a{
            padding: 5px;
            text-align: center;
            width: 42px;
            height: 42px;
            margin: auto;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: 1px solid $black;
            margin-bottom: 20px;
            @include property;
            img{
               width: 22px;
               height: 22px;
               margin-right: 0;
            }
            &:hover{
               border-color: $yellow;
            }
         }
         &::before{
            width: 0;
            height: 0;
            background: transparent;
         }
         &:last-child::after {
            width: 0;
            height: 0;
            background: transparent;
         }
      }
   }
}
.sidebar-s-link .social-top,
.sidebar-s-link .social-bottom {
   a{
      padding: 5px 10px;
   }
}
.social-top{
   position: relative;
   &::before{
      position: absolute;
      content: '';
      width: 31px;
      height: 1px;
      top: 35px;
      left: 54px;
      background: $text-color;
   }
}
.social-bottom{
   position: relative;
   &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 31px;
      bottom: 22px;
      left: 69px;
      background: $text-color;
   }
}
.border-top-left{
   position: relative;
   &::before{
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      border-top: 1px solid $text-color;
      border-left: 1px solid $text-color;
      top: 0;
      left: 2px;
   }
}
.border-top-right{
   position: relative;
   &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      top: 0;
      right: 0;
      border-top: 1px solid $text-color;
      border-right: 1px solid $text-color;
   }
}
.border-bottom-left{
   position: relative;
   &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      bottom: 0;
      left: 2px;
      border-bottom: 1px solid $text-color;
      border-left: 1px solid $text-color;
   }
}
.border-bottom-right{
   position: relative;
   &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      bottom: 0;
      right: 2px;
      border-bottom: 1px solid $text-color;
      border-right: 1px solid $text-color;
   }
}
.about-area1{
   position: relative;
   .cv{
      position: absolute;
      right: -50px; 
      top: -70px;
      li{
         display: inline-block;
         color: $yellow;
         &.number{
            margin-right: 25px;
         }
         i {
            width: 22px;
            height: 22px;
            background: $yellow;
            line-height: 22px;
            display: inline-block;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            color: $black;
            text-align: center;
            margin-right: 10px;
         }
      }
   }
}
.about-author1-image{
   position: relative;
   img{
      position: relative;
      z-index: 2;
   }
   &::before{
      position: absolute;
      content: "";
      width: 415px;
      height: 600px;
      background: $yellow;
      left: -30px;
      top: 90px;
   }
}
.about-content1{
   h3{
      font-family: $lora;
      color: $white;
      font-weight: 400;
      span{
         font-weight: 700;
      }
      margin-bottom: 50px;
   }
   hr{
      width: 50px;
      height: 1px;
      background: $yellow;
   }
   p{
      color: #C9CBCE;
      font-family: $josefin;
      margin-bottom: 22px;
   }
   h4{
      font-size: 22px;
      color: $white;
      font-weight: 400;
      margin-bottom: 25px;
   }
   img{
      margin-right: 25px;
      margin-bottom: 30px;
   }
}
.about-group-btn{
   margin-top: 20px;
   a{
      margin-right: 25px;
   }
}
.section-title-white{
   p{
      width: 51%;
   }
}