/*----------------------------------------*/
/*  03. Header Area
/*----------------------------------------*/
.header {
   height: 100%;
   background: #1C1D22;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   @media #{$xs} {
      width: 250px;
   }
   @media #{$md} {
      width: 250px;
   }
   @media #{$lg} {
      width: 336px;
   }
}

a.mobile-menu-opener {
   position: absolute;
   right: -40px;
   width: 40px;
   text-align: center;
   line-height: 35px;
   color: #fff;
   font-size: 18px;
   background: #131313;
   top: 10px;
   -webkit-border-radius: 0 5px 5px 0;
   -moz-border-radius: 0 5px 5px 0;
   border-radius: 0 5px 5px 0;
   display: none;

   @media #{$xs} {
      display: block;
   }
}

.header .header-inner {
   width: 100%;
   height: 100%;
}


.mCSB_inside>.mCSB_container {
   margin-right: 0;
}



.home-section,
.page-content {
   max-width: 1586px;
   margin-left: auto;
   margin-right: auto;

   @media #{$lg} {
      height: 100%;
   }
}

.pt-page .section-inner {
   position: relative;
   height: auto;
   width: 100%;
   min-width: 100%;
   min-height: 100%;
   background-color: transparent;
   padding: 50px;
   background-color: #fff;
   -webkit-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -ms-transform: none;
   @media #{$desktop}{
      padding: 150px 0;
   }
}

.author-image{
   border: 1px solid $black;
   width: 196px;
   height: 196px;
   text-align: center;
   padding: 16px;
   margin: auto;
   margin-top: 50px;
}
.author-name{
   text-align: center; 
   margin-top: 50px;
   margin-bottom: 50px;
   
   h3{
      padding: 20px;
      color: $white;
      display: inline-block;
      position: relative;
      font-weight: 700;
      font-family: $lora;
      margin: 0;
      span{
         font-size: 26px;
      }
      &::before{
         position: absolute;
         content: '';
         width: 27px;
         height: 27px;
         top: 0;
         left: -25px;
         border-top: 1px solid $yellow;
         border-left: 1px solid $yellow;
      }
      &::after{
         position: absolute;
         content: '';
         width: 27px;
         height: 27px;
         right: -25px;
         bottom: 0;
         border-bottom: 1px solid $yellow;
         border-right: 1px solid $yellow;
      }
   }
}
// Author Contact
.author-contact{
   margin-bottom: 50px;
   text-align: center;
   li{
      display: inline-block;
      margin-right: 10px;
      &:last-child{
         margin-right: 0;
      }
      a{
         width: 35px;
         height: 35px;
         line-height: 22px;
         font-size: 16px;
         display: inline-block; 
         border: 1px solid $black;
         text-align: center;
         padding: 5px;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         @include property;
         &:hover{
            i{
               color: $yellow;
            }
         }
      }
   }
}
.tooltip-inner{
   width: 140px;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   background: $bg-600;
   padding: 5px 13px;
   color: #000;
   font-family: $josefin;
}

// Sidebar Menu 
.sidebar-link{
   @media #{$xs} {
      padding: 0 20px;
   }
   @media #{$md}{
      padding: 0 20px; 
   }
   @media #{$lg} {
      padding-left: 70px;
      padding-right: 70px;
   }
   
   nav{
      li{
         position: relative;
         a{
            font-size: 14px;
            color: $text-color;
            text-transform: uppercase;
            font-family: $josefin;
            font-weight: 600;
            padding-top: 15px;
            padding-bottom: 14px;
            display: block;
            @include property;
            &:hover{
               color: $yellow;
            }
            img{
               margin-right: 10px;
            }
            @media #{$md} {
               text-align: center;
            }
         }
         &::before{
            position: absolute;
            content: '';
            width: 195px;
            height: 1px;
            background: $black;
            left: 0;
            right: 0;
            margin: auto;
            @media #{$md}{
               width: 100%;
            }
         }
         &:last-child::after{
            position: absolute;
            content: '';
            width: 195px;
            height: 1px;
            background: $black;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
         }
      }
   }
}

// Sidebar Social Link
.sidebar-s-link{
   text-align: center;
   margin-bottom: 35px;
   a{
      display: inline-block;
   }
   li{
      display: inline-block;
      a{
         font-size: 16px;
         padding: 15px;
         color: $text-color;
         display: block;
      }
   }
}

/*--------------------------------HomePage 2---------------------------------------*/ 
.header2 {
   width: 142px;
   position: relative;
   z-index: 999;
   .sidebar-link {
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
   }
   .author-name{
      h3{
         padding: 15px;
         &::before{
            left: 0;
            top: 10px;
         }
         &::after{
            right: 0;
            bottom: 10px;
         }
      }
   }
   nav{
      padding-top: 40px;
      li{
         a{
            padding: 5px;
            text-align: center;
            width: 42px;
            height: 42px;
            margin: auto;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: 1px solid $black;
            margin-bottom: 20px;
            @include property;
            img{
               width: 22px;
               height: 22px;
               margin-right: 0;
            }
            &:hover{
               border-color: $yellow;
            }
         }
         &::before{
            width: 0;
            height: 0;
            background: transparent;
         }
         &:last-child::after {
            width: 0;
            height: 0;
            background: transparent;
         }
      }
   }
}
.sidebar-s-link .social-top,
.sidebar-s-link .social-bottom {
   a{
      padding: 5px 10px;
   }
}
.social-top{
   position: relative;
   &::before{
      position: absolute;
      content: '';
      width: 31px;
      height: 1px;
      top: 35px;
      left: 54px;
      background: $text-color;
   }
}
.social-bottom{
   position: relative;
   &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 31px;
      bottom: 22px;
      left: 69px;
      background: $text-color;
   }
}
.border-top-left{
   position: relative;
   &::before{
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      border-top: 1px solid $text-color;
      border-left: 1px solid $text-color;
      top: 0;
      left: 2px;
   }
}
.border-top-right{
   position: relative;
   &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      top: 0;
      right: 0;
      border-top: 1px solid $text-color;
      border-right: 1px solid $text-color;
   }
}
.border-bottom-left{
   position: relative;
   &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      bottom: 0;
      left: 2px;
      border-bottom: 1px solid $text-color;
      border-left: 1px solid $text-color;
   }
}
.border-bottom-right{
   position: relative;
   &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      bottom: 0;
      right: 2px;
      border-bottom: 1px solid $text-color;
      border-right: 1px solid $text-color;
   }
}

// Mobile Menu 
a.mobile-menu-opener {
   position: absolute;
   right: -40px;
   width: 40px;
   text-align: center;
   line-height: 35px;
   color: #fff;
   font-size: 18px;
   background: #131313;
   top: 10px;
   -webkit-border-radius: 0 5px 5px 0;
   -moz-border-radius: 0 5px 5px 0;
   border-radius: 0 5px 5px 0;
   display: none;

   @media #{$xs} {
      display: block;
   }
}

.mCSB_7_scrollbar{
   display: none !important;
}