/*----------------------------------------*/
/*  10. Header Area
/*----------------------------------------*/
.portfolio-menu{
   margin-bottom: 40px;
   li{
      display: inline-block;
      font-family: $josefin;
      font-size: 14px;
      color: #9DA1A5;
      margin-right: 30px;
      cursor: pointer;
      @include property;
      position: relative;      
      &::before{
         position: absolute;
         content: '';
         width: 5px;
         height: 5px;
         background: $yellow;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         left: 45%;
         bottom: 0;
         visibility: hidden;
         opacity: 0;
      }
      &:hover {
         color: $yellow;
         &::before{
            opacity: 1;
            visibility: visible;
         }
      }
   }
}
.portfolio-mas{
   position: relative;
   &::before{
      position: absolute;
      content: '';
      width: 90%;
      height: 90%;
      background: #000000;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      opacity: 0;
      visibility: hidden;
      @include property;
   }
   &:hover{
      &::before{
         opacity: 0.8;
         visibility: visible;
      }
      .portfolio-content{
         opacity: 1;
         visibility: visible;
      }
   }
}
.portfolio-content{
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   top: 0;
   text-transform: capitalize;
   color: $white;
   opacity: 0;
   visibility: hidden;
   h4{
      margin-bottom: 0;
      font-size: 20px;
      font-family: $playfair;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 5px;
   }
   span{
      font-size: 14px;
      font-family: $josefin;
   }
}
.portfolio-icon{
   color: $white;
   font-size: 20px;
   margin-bottom: 10px;
}